@import "normalize.css";
@import "grid.css";
@import "fonts.css";


:root{
    --text-color : #333333 ;
    --shadow-color : rgba(19,182,255,0.24);
    --app-bg-color : #fff;
    --section-color : #fff;
    --primary-color: #0ABEAD;

    
}

html{
    font-size: 10px;

}

/* 


--- Rest Style ---


*/

a{
    text-decoration: none;



}
ul{
   list-style-type: none;
   padding-left:0;
   margin: 0;


}
/* 


--- App components ---


*/
.bgc{
    display: none;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.1);
    position: fixed;
    inset: 0;

}
.cover.bgc{
    display: block;
}

.button{
    display:block;
    border-radius:2rem;
    color: #fff;
    padding: 1rem ;
    text-align: center;
    margin-top: 2rem;
    


    
}
.btn-orange{
    background-color:#F57F17;
    box-shadow: 0 1.5rem 4rem rgba(245,127,23,24%);
}


.btn-blue{
    background-color: var(--primary-color);
    box-shadow: 0 1.5rem 4rem rgba(11,190,173,40%);
}
.reversal{
    flex-direction: column-reverse;
    align-items:center;
}
.section-head{
    margin: 3rem 0;
}
.section-head__title{
    font-family: "Poppins Bold";
    text-align: center;
    font-size: 3rem;
    color: var(--primary-color);
    margin:0;


}
.section-head__text{
    text-align: center;
    color: var(--primary-color);
    margin:1rem 0;


}
.section-head__line{
    display: block;
    width:3rem;
    height:1rem;
    background-color:var(--primary-color);
    margin: 0 auto;
    border-radius: 2rem;
    position: relative;
}
.section-head__line::after{
    content: '';
    display: block;
    width: 15rem;
    height: .2rem;
    background-color: var(--primary-color);
    position: absolute;
    left: -6rem;
    top: 0;
    bottom:0;
    margin: auto 0;




}






/* 


--- Body ---


*/


body{
    font-family:"Poppins";
    font-size:1.6rem;
    line-height: 1.5;
    position: relative;
    

}


/* 


--- Header ---


*/



.header{
    box-shadow: 0px 7px 12px 0px var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color:var(--app-bg-color);



}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    


}
.nav__logo{
    font-family:"Poppins Bold";
    font-size:6rem;
    color: var(--primary-color);
    margin:0;


}
.menu{
    display: flex;
    align-items: center;
  



    
    
    
    
    
}
.menu__items{
    
    
    
    
}
.menu__link{
    display: inline-block;
    font-size: 1.4rem;
    font-family: "Poppins Medium";
    color: var(--text-color);
    



}
.menu__link:hover{
    color: var(--primary-color);
    transition: color 150ms ease-in;
}
.menu__link-active{
    color: var(--primary-color);

}
.nav__toggle-icon{
    display: flex;
    align-items: center;
    width: 4rem;
    height:4rem;
    


}
.nav__toggle-line{
    width:4rem;
    height:.4rem ;
    background-color:var(--primary-color);
    border-radius:1rem;
    position: relative;
    transition: all 250ms ease-in;
    


}
.nav__toggle-line::after,.nav__toggle-line::before{
    content:"";
    width: 4rem;
    height:.4rem;
    border-radius:1rem;
    position: absolute;
    background-color:var(--primary-color);
    transition: all 250ms ease-in;



}
.nav__toggle-line::after{
    top:1rem;
}
.nav__toggle-line::before{
    top:-1rem;
}
.open .nav__toggle-line::after{
    transform: translatey(-1rem) rotate(45deg);
    transition: all 250ms ease-in;
}
.open .nav__toggle-line::before{
    transform: translatey(1rem) rotate(-45deg);
    transition: all 250ms ease-in;
}
.open .nav__toggle-line{
    background-color: transparent;
    transition: all 250ms ease-in;

    
}

/* 


--- Main ---


*/
.main{
    margin-top:9rem;






}
.home{
    /* height: 60rem; */
    padding-top:10rem;






}
.home__description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100%;
    text-align:center;
    






}
.home__name{
    font-family: "Poppins Medium";
    margin: 0;
    color: var(--primary-color);
}
.home__name span{
    color: orange;
}
.home__title{
    font-family: "Poppins Bold";
    margin:0;
    color: var(--primary-color);
    font-size: 3rem;
    






}
.home__comment{
    margin: 0;
    font-size: 1.2rem;
    color: var(--text-color);






}
.home__btn{






}
.btn{
    width: 100%;
    margin-top:1.5rem;
}
.home__porfile{
    width:30rem;
    height:30rem;
    margin: 0 auto;
    background-image: url(../images/header-avatar.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:-9rem ;
    border-radius: 2000rem;
    border: solid 2rem #fff;
    box-shadow: 0px 7px 12px 0px var(--primary-color);
}
.shape{

}
.shap__home{
    display:none;
    width:100%;

}

/* 


--- Section About Us ---


*/


.aboutus{



    
}
.about{
    box-shadow: var(--shadow-color) 0px 4px 12px;
    border-radius:3rem;
    overflow: hidden;
    
    
    
    
}
.about__cover{
    width:100%;
    height:50rem;
    background-image: url("../images/about-us-man.jpg");
    background-position-x:-10rem ;
    
    
    
    
}

.about__content{
    background-color: var(--app-bg-color);
    color:var(--text-color);
    padding:  0 2rem 2rem 2rem;
    




}
.about__title{
    font-family: "Poppins SemiBold";
    font-size:2rem;




}
.about__description{
    font-size:1.4rem;
    margin-bottom: 6rem;




}
.about__list-title{
    font-family: "Poppins SemiBold";
    color: var(--primary-color);
    font-size:1.8rem;
    margin: 0 0 2rem 0;




}
.about-list{





}
.about-list__item{
    position: relative;
    font-size:1.5rem;
    margin-left:2.5rem;
    
}
.about-list__item::before{
    content:'';
    display: inline-block;
    background-color:#F57F17;
    width:1rem;
    height:1rem;
    border-radius:100%;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto 0;
    left: -2.5rem;
    
    




}
.about__links-wrapper{
    margin-top: 4rem ;




}