@import "normalize.css";
@import "grid.css";
@import "fonts.css";


:root{
    --text-color : #333333 ;
    --shadow-color : rgba(19,182,255,0.24);
    --app-bg-color : #fff;
    --section-color : #fff;
    --primary-color: #0ABEAD;

    
}

html{
    font-size: 10px;

}

/* 


--- Rest Style ---


*/

a{
    text-decoration: none;



}
ul{
   list-style-type: none;
   padding-left:0;
   margin: 0;


}
/* 


--- App components ---


*/
.bgc{
    display: none;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.1);
    position: fixed;
    inset: 0;

}
.cover.bgc{
    display: block;
}

.button{
    display:block;
    border-radius:2rem;
    color: #fff;
    padding: 1rem ;
    text-align: center;
    margin-top: 2rem;
    


    
}
.btn-orange{
    background-color:#F57F17;
    box-shadow: 0 1.5rem 4rem rgba(245,127,23,24%);
}


.btn-blue{
    background-color: var(--primary-color);
    box-shadow: 0 1.5rem 4rem rgba(11,190,173,40%);
}
.reversal{
    flex-direction: column-reverse;
    align-items:center;
}
.section-head{
    margin: 4rem 0;
}
.section-head__title{
    font-family: "Poppins Bold";
    text-align: center;
    font-size: 3rem;
    color: var(--primary-color);
    margin:0;


}
.section-head__text{
    text-align: center;
    color: var(--primary-color);
    margin:1rem 0;
    letter-spacing: .25rem;


}
.section-head__line{
    display: block;
    width:3rem;
    height:1rem;
    background-color:var(--primary-color);
    margin: 0 auto;
    border-radius: 2rem;
    position: relative;
}
.section-head__line::after{
    content: '';
    display: block;
    width: 15rem;
    height: .2rem;
    background-color: var(--primary-color);
    position: absolute;
    left: -6rem;
    top: 0;
    bottom:0;
    margin: auto 0;




}






/* 


--- Body ---


*/


body{
    font-family:"Poppins";
    font-size:1.6rem;
    line-height: 1.5;
    position: relative;
    

}


/* 


--- Header ---


*/



.header{
    box-shadow: 0px 7px 12px 0px var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color:var(--app-bg-color);



}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    


}
.nav__logo{
    font-family:"Poppins Bold";
    font-size:6rem;
    color: var(--primary-color);
    margin:0;


}
.menu{
    display: flex;
    align-items: center;
  



    
    
    
    
    
}
.menu__items{
    
    
    
    
}
.menu__link{
    display: inline-block;
    font-size: 1.4rem;
    font-family: "Poppins Medium";
    color: var(--text-color);
    



}
.menu__link:hover{
    color: var(--primary-color);
    transition: color 150ms ease-in;
}
.menu__link-active{
    color: var(--primary-color);

}
.nav__toggle-icon{
    display: flex;
    align-items: center;
    width: 4rem;
    height:4rem;
    


}
.nav__toggle-line{
    width:4rem;
    height:.4rem ;
    background-color:var(--primary-color);
    border-radius:1rem;
    position: relative;
    transition: all 250ms ease-in;
    


}
.nav__toggle-line::after,.nav__toggle-line::before{
    content:"";
    width: 4rem;
    height:.4rem;
    border-radius:1rem;
    position: absolute;
    background-color:var(--primary-color);
    transition: all 250ms ease-in;



}
.nav__toggle-line::after{
    top:1rem;
}
.nav__toggle-line::before{
    top:-1rem;
}
.open .nav__toggle-line::after{
    transform: translatey(-1rem) rotate(45deg);
    transition: all 250ms ease-in;
}
.open .nav__toggle-line::before{
    transform: translatey(1rem) rotate(-45deg);
    transition: all 250ms ease-in;
}
.open .nav__toggle-line{
    background-color: transparent;
    transition: all 250ms ease-in;

    
}

/* 


--- Main ---


*/
.main{
    margin-top:9rem;






}
.home{
    /* height: 60rem; */
    padding-top:10rem;






}
.home__description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height:100%;
    text-align:center;
    






}
.home__name{
    font-family: "Poppins Medium";
    margin: 0;
    color: var(--primary-color);
}
.home__name span{
    color: orange;
}
.home__title{
    font-family: "Poppins Bold";
    margin:0;
    color: var(--primary-color);
    font-size: 3rem;
    






}
.home__comment{
    margin: 0;
    font-size: 1.2rem;
    color: var(--text-color);






}
.home__btn{






}
.btn{
    width: 100%;
    margin-top:1.5rem;
}
.home__porfile{
    width:30rem;
    height:30rem;
    margin: 0 auto;
    background-image: url(../images/header-avatar.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:-9rem ;
    border-radius: 2000rem;
    border: solid 2rem #fff;
    box-shadow: 0px 7px 12px 0px var(--primary-color);
}
.shape{

}
.shap__home{
    display:none;
    width:100%;

}

/* 


--- Section About Us ---


*/


.aboutus{



    
}
.about{
    box-shadow: var(--shadow-color) 0px 4px 12px;
    border-radius:3rem;
    overflow: hidden;
    
    
    
    
}
.about__cover{
    width:100%;
    height:50rem;
    background-image: url("../images/about-us-man.jpg");
    background-position-x:-10rem ;
    
    
    
    
}

.about__content{
    background-color: var(--app-bg-color);
    color:var(--text-color);
    padding:  0 2rem 2rem 2rem;
    




}
.about__title{
    font-family: "Poppins SemiBold";
    font-size:2rem;




}
.about__description{
    font-size:1.4rem;
    margin-bottom: 6rem;




}
.about__list-title{
    font-family: "Poppins SemiBold";
    color: var(--primary-color);
    font-size:1.8rem;
    margin: 0 0 2rem 0;




}
.about-list{





}
.about-list__item{
    position: relative;
    font-size:1.5rem;
    margin-left:2.5rem;
    
}
.about-list__item::before{
    content:'';
    display: inline-block;
    background-color:#F57F17;
    width:1rem;
    height:1rem;
    border-radius:100%;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto 0;
    left: -2.5rem;
    
    




}
.about__links-wrapper{
    margin-top: 4rem ;




}

/* 


--- Section Services ---


*/






.services{



}


.boxes--purple{
    background-color: #8540FF;

}
.boxes--yellow{
    background-color: #FFC50C;
}
.boxes--pink{
    background-color: #EC407A;
}
.boxes--orange{
    background-color: #FF6331;
}
.boxes--blue{
    background-color: #13B6FF;
}
.boxes--green{
    background-color: #49AF46;
}
.boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    gap: 2rem;
    border-radius:2rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
    
    
}
.boxes__svg{
    
    
    
}
.boxes__icon{
    
    
    
}
.boxes__title{
    font-family: "Poppins SemiBold";
    font-size:2rem;
    margin: 0;
    color: #fff;
    
    
    
}
.boxes__discription{
    text-align: center;
    font-size: 1.2rem;
    color:#fff;
    margin:0;


}
.service__wave{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    z-index:-1;

}
/* 


--- Section Resume ---


*/
.resume{
    margin-top:10rem ;
    min-height:80rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 6rem rgb(19,182,255);
    transform: translateZ(0) skewy(-5deg);
}
.resume .row{
    min-height:50rem;
}
.skew{
    transform: translateZ(0) skewy(5deg);
}

.resume__menu{
    width: 100%;
    height:35rem;
    position: relative;
    left:0;
    border-left:solid 5rem var(--primary-color);
    display:flex;
    align-items: center;

    
    
    
    
}
.menusection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:3rem;
    position:absolute;
    left:-3.5rem;
    position: relative;
    
    
    
}
.menusection__item{
    display: flex;
    align-items:center;
    justify-content:start;
    flex-direction: row-reverse;
    gap:4rem;
    width:100%;
}
.menusection__item::before{
    content:'';
    position: absolute;
    background-color:var(--primary-color);
    width:5rem;
    height:5rem;
    z-index:-1;
    border-top-right-radius:100rem;
    border-bottom-right-radius:100rem;
;

}
.menusection__item--active.menusection__item::before{
    transition: width ease-in-out 200ms ;
    width:26rem;
}
.menusection__item--active.menusection__item{
    color:#fff;

}

.menusection__title{
    margin:0;
    /* margin-bottom:2.5rem; */
    font-size:1.8rem;



}
.menusection__icon{

}
.resume__content{
    /* display: none; */
    width: 100%;
    border-left: .3rem solid var(--primary-color) ;
    transition: all ease-in-out 200ms ;
    height:0;
    overflow: hidden;
    opacity:0;

}
.resume__content--active{
    display: block;
    opacity:1;
    height:auto;
    overflow: visible;

}
.content__header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left:1rem;
    position: relative;



}
.content__header::before{
    content: '';
    position: absolute;
    width:1.5rem;
    height:1.5rem;
    background-color:var(--primary-color);
    border-radius:100%;
    left:-1.9rem;
}
.content__title{
    font-family: "Poppins SemiBold";
    font-size:2rem;
    color:#F57F17;



}
.content__date{
    background-color:#F57F17;
    color:#fff;
    padding:.6rem 1rem;
    border-radius:2rem;
    box-shadow: 0 0 4rem rgba(245,127,23,24%);
   




}
.content__description{
    font-family: "Poppins SemiBold";
    margin: 0 0 1.5rem 1rem;
    font-size:1.7rem;




}
.content__text{
    color: var(--text-color);
    font-size: 1.4rem;
    margin: 0 0 0 1rem;



}


/* 


--- Section Resume ---


*/

.portfolio{
   margin-top:8rem;
}


.portfolio-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2rem;
    margin-bottom:4rem;



}
.portfolio-menu__item{
    padding:1rem 2rem;
    border-radius:7rem;
    transition: all ease-in-out 200ms;



}
.portfolio-menu__item--active{
    background-color:var(--primary-color);
    color: #fff;
}
.portfolio-content{



}
.portfolio-content__img{
    width:30rem;



}
.swiper{



}
.swiper-wrapper{
    
    
    
}
.swiper-slide{
    display: flex !important ;
    justify-content: center !important;



}
.swiper-pagination{
    position: static !important;
    margin-top:1rem;




}
.swiper-pagination-bullet{
    width:2rem !important;
    height:2rem !important;
    border: 4px solid #BFBEBE !important;
    background-color: transparent !important;



}
.swiper-pagination-bullet-active{
   border-color:var(--primary-color) !important;




}

.package{
    box-shadow: 0 0 5rem rgba(96, 233, 255, 27%);
    border-radius:2rem;
    overflow: hidden;

}
.package__head{
    padding:6rem 0;
    color:#fff;
    text-align: center;


}
.package__title{
    margin:0;
    font-size:3rem;
    font-family: "Poppins Bold";


}
.package__price{
    display: block;
    margin:1rem;
    font-family: "Poppins SemiBold";
    font-size:2.2rem;


}
.package__des{
    margin: 0;


}
.package__info{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding:3rem 0;


}
.package-options{
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    /* width:16rem;
    margin: 0 auto; */
 



}
.package-options__item{
    margin-bottom:3rem;
    


}
.package-options__item:last-child{
    margin-bottom: 0;
}
.package-options__icon{


}


.package__head--orange{
    background-color: #FF6331;

}
.package__head--purple,
.btn--purple{
    background-color: #803AFB;

}
.package__head--pink,
.btn--pink{
    background-color: #F5276C;
    
}
.btn--purple {
    box-shadow: 0 1.5rem 4rem rgb(128 58 251 / 24%);
}

.btn--pink {
    box-shadow: 0 1.5rem 4rem rgb(245 39 108 / 24%);
}
.pricing__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100% !important;
    height:5rem;
    border-radius: 5rem;
}

/* 


--- Section Resume ---


*/



.contactus{




}
.map{
    position: relative;
    background-image: url('../images/map.jpg');
    height: 80rem;
    padding-top:3rem;




}
.contact__icon{
    display: none;
    align-items:center;
    justify-content: center;
    width:6rem;
    height:6rem;
    background-color:var(--app-bg-color);
    border-radius:100%;
    position:absolute;
    top:25rem;
    left:25rem;
    box-shadow: 0 0 4rem rgba(19,182,255,24%);

}
.contact__svg{


}

.contactus__wrapper{
    box-shadow: 0 0 4rem rgba(19,182,255,24%);
    background-color: var(--app-bg-color);
    padding: 3rem;
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border-radius:2rem;

    
}
.contactus__title{
    font-size:4rem;
    color: var(--primary-color);
    
    
    
    
}
.contactus__form{
    width: 100%;
}
.contactus__input,
.contactus__textarea{
    font-size:1.2rem;
    display: block;
    width:100%;
    height:4rem;
    padding-left:1rem;
    margin-bottom:3rem;
    box-shadow: 0 0 5rem rgba(96,233,255,27%);
    border: none;
    outline: none;
    border-radius:.5rem;



}
.contactus__textarea{
    max-height:10rem;
    font-size:1.4;
    resize: vertical;
}
.btn--contact{
    width: 100% !important;
}

/* 


--- Section Resume ---


*/

.footer{
    margin-top:3rem;
}



.footer__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:2rem;


}
.footer__socials{
    display: flex;
    gap:1rem;
    flex-direction: row-reverse;



}
.footer__social{
    display: flex;
    align-items: center;
    justify-content:center;
    width:5rem;
    height:5rem;
    border-radius:100%;
    background-color:#1F2935;
}
.footer__social:hover{
    transition: all ease-in-out 250ms;
    background-color:var(--primary-color);
}

.footer__icon{
     fill:var(--app-bg-color);
}

.footer__copyright{
    font-size: 1.2rem;
    color: var(--text-color);
    letter-spacing: .25rem;



}
.footer__text{



}
