html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}




/* sm */

@media (min-width: 576px) {
    .home__name{
        font-size:1.7rem;
    }
    .home__title{
        font-size:4rem;
    }
    .home__comment{
        font-size:1.5rem;
    }
    .home__porfile{
        width:35rem;
        height:35rem;
    }



}


/* md */

@media (min-width: 768px) {
    .menu{
        display: flex;
        gap:2rem;

  }
   .nav__toggle-icon{
      display: none;
  }

   .shape__home{
    display: block; 

   }
   /* 
   
   Section pricing
   
   */
   .pricing__btn{
    width: 25rem !important;

   }
   /* 
   
   Section contact us
   
   */
   .contactus__wrapper{
    width:40rem;
    position: absolute;
    right:8rem;
    }
    .contact__icon{
        display: flex;
        top:25rem;
        left:5rem;
 
    }


 
}


/* lg */

@media (min-width: 992px) {
    /* 
    
    menu
    
    */
    .menu{
        gap:5rem;
    }
    /* 
    app
    */
    .reversal{
        flex-direction: row;
        align-items:normal;
        
    }
    /* 
    home section
    */
    .home__description{
        text-align:start;
        
    }
    .home__name{
        font-size:2rem;
    }
    .home__title{
        font-size: 4.5rem;
    }
    .home__porfile{
        width:45rem;
        height:45rem;
        background-position:-14rem;
    }
    .button{
        display: inline-block;
        width:15rem;
        margin-top: 2rem;
    }
    /* 
    
    ---Section About Us---
    
    */
    .about{
        display: flex;
    }
    .about__cover{
        width:50%;
        height:auto;
    }
    .about__content{
        width:50%;
    }
    /* 
    
    ---Section About Us---
    
    */
    .resume__menu{
        height:100%;
    }
    .menusection{
        gap:5rem;
    }
    /* 
    
    ---Section Contact Us---
    
    */
    .contact__icon{
        top:25rem;
        left:25rem;
 
    }

        /* 
    
    --- Footer ---
    
    */
    .footer__wrapper{
    justify-content: space-between;
    flex-direction: row-reverse;


    }

    

  
}


/* xl */

@media (min-width: 1200px) {

    /* 
    
    ---Section About Us---
    
    */


    .portfolio-content__img{
       width:40rem;

    }
 
}


/* xxl */

@media (min-width: 1400px) {

}

@media (max-width: 768px) {
    /* 
    
    */
    .menu{
        flex-direction: column;
        justify-content: center;
        position: absolute;
        background-color: var(--app-bg-color);
        height:30rem;
        max-width: 30rem;
        margin: 0 auto;
        left: 0;
        right:0;
        top:-32rem;
        gap:1rem;
        border-radius:2rem;
        transition: all ease-in 250ms;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        z-index:100;
    }
    .open{
        top:8rem;
    }
    .menu__link{
        font-size: 1.6rem;
    }

}
@media (max-width: 430px) {
  
}